name: Lint and Test Package

on:
  push:
    branches:
      - dev
      - master
      - main
  pull_request:
    branches:
      - dev
      - master
      - main
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
  workflow_dispatch:

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    - name: Install uv
      uses: astral-sh/setup-uv@v4
    - name: Install dependencies
      run: uv sync --all-extras
    - name: Lint package
      run: uv run ruff check .
    - name: Type check
      run: uv run mypy django_msgspec_field

  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    - name: Install uv
      uses: astral-sh/setup-uv@v4
    - name: Install dependencies
      run: uv sync --all-extras
    - name: Run pre-commit
      run: pre-commit run --show-diff-on-failure --color=always --all-files

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    services:
      postgres:
        image: postgres:15-alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: pass
          POSTGRES_DB: test_db
        ports:
          - 5432:5432
      mariadb:
        image: mariadb:11-jammy
        env:
          MARIADB_DATABASE: test_db
          MYSQL_ROOT_PASSWORD: pass
        ports:
          - 3306:3306

    env:
      POSTGRES_DSN: postgresql://postgres:pass@127.0.0.1:5432/test_db
      MYSQL_DSN: mysql://root:pass@127.0.0.1:3306/test_db

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
    - name: Install uv
      uses: astral-sh/setup-uv@v4
    - name: Install system dependencies
      run: |
        sudo apt update && sudo apt install -qy python3-dev default-libmysqlclient-dev build-essential
    - name: Install dependencies
      run: uv sync --all-extras
    - name: Test package
      run: uv run pytest
